@CHARSET "UTF-8";

.panelgrid_borderless tr, .panelgrid_borderless td {
	border: none;

}



.ui-selectonemenu {
font-size: 70% !important;
alignment-adjust: central;
position: relative;
top: 10px;
left: 100px;
}