
.rotulologin_signup{

    /*Especifica preta a cor da fonte do elemento */

    color: #000000;
    margin:3px 3px 3px 0px;
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
}

.tweet_nick {
    position: relative;
    right: 40px;
    bottom: 10px;
    width: 90px;
    font-size: 110%;
    font-family: cursive;   
    text-align: center;
    padding:1px;   
}

.tweet_text {
    position: relative;
    top: 0px;
    width: 180px;
    word-break: break-all;
    font-family: monospace;
    font-size: 100%;
    font-weight: bold;
    padding: 1px;
}

.tweet_date {
    position: relative;
    top: 0px;
    border-color: greenyellow;
    border-width: 20px;
    font-size: 70%;
    font-style: italic;
    font-weight: bold;
     padding: 1px;
    border-bottom:  1px solid #021a40;
}

.tweet_box{
    padding: 1px;
    border-bottom:  1px dotted #021a40;
    
}

.tweet_foto{
   position: relative;
   height: 40px;
   width: 40px;
   border: 1px;
   border-color: black;
   alignment-adjust: middle;
   padding:1px;
   right: 15px;
   border:1px solid #021a40;
   background-color:#F1F1F1;
}